@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; 
font-family: 'Work Sans', sans-serif; 
font-family: 'Playfair Display', serif;
*/

@layer components {
  .liitem {
    @apply text-white text-base font-Poppins font-medium tracking-[0.025rem] cursor-pointer
  }
}

html,
body,
#root,
.app {
  height: 100%;
  background-color: #010026;
  @apply text-white font-Sans
}

.profileImg {
  background: rgb(224, 112, 202);
  background: linear-gradient(180deg, rgba(224, 112, 202, 1) 16%, rgba(4, 219, 242, 1) 99%);
}


li {
  list-style: none;
}

.blue-gradient {
  background: rgb(79,238,223);
background: linear-gradient(90deg, rgba(79,238,223,0.9895287958115183) 0%, rgba(3,89,244,1) 100%);
}